<nb-card>
  <nb-card-header>
    Smart Table
  </nb-card-header>

  <nb-card-body>
    <div class="row">
      <div class="col-sm-3">
        <label>CNPJ ou Nome da Empresa: </label><input [(ngModel)]="filtro" type="text" nbInput /> &nbsp;
        <button nbButton (click)="onFilter()">Filtrar</button> &nbsp;
        <button nbButton (click)="onCreate()">Nova Empresa</button>
      </div>
    </div>
    <br><br>
    <table>
      <thead>
        <th>CNPJ</th>
        <th>Nome</th>
        <th>Razão Social</th>
        <th>Tipo</th>
        <th colspan="2">Ações</th>
      </thead>
      <tbody>
        <tr *ngFor="let item of data">
          <td style="padding-right: 4em">{{ item.cnpj }}</td>
          <td style="padding-right: 4em">{{ item.nome }}</td>
          <td style="padding-right: 4em">{{ item.razaoSocial }}</td>
          <td style="padding-right: 4em">{{ item.tipo}}</td>
          <td style="padding-right: 4em">
            <button nbButton status="warning" type="button" (click)="onEdit(item.cnpj)">Editar</button>
            &nbsp;
            <button nbButton status="danger" type="button" (click)="onDelete()">Excluir</button>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <button (click)="back()" [disabled]="current == 0" nbButton status="primary" type="button">Voltar</button>
        &nbsp;
        <button disabled nbButton type="button">{{current + 1}}</button>
        &nbsp;
        <button (click)="next()" [disabled]="((current + 1) * 5) >= size" nbButton status="primary" type="button">Avançar</button>
      </tfoot>
    </table>
  </nb-card-body>
</nb-card>
