<nb-card>
  <nb-card-header>
    Smart Table
  </nb-card-header>

  <nb-card-body>
    <div class="row">
      <div class="col-sm-3">
        <label>CNPJ ou Nome da Empresa: </label><input [(ngModel)]="filtro" type="text" nbInput /> &nbsp;
        <button nbButton (click)="onFilter()">Filtrar</button> &nbsp;
        <button nbButton (click)="open()">Nova Empresa</button>
      </div>
    </div>
    <br><br>

    <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)">
    </ng2-smart-table>
  </nb-card-body>
</nb-card>
