<nb-card>
  <nb-card-header>{{ title }}</nb-card-header>
  <nb-card-body>
    <form>
      <div class="row">
        <div class="col-md-4">
          <label for="cnpj" class="label col-sm-3 col-form-label">CNPJ: </label>
          <input type="text" required nbInput fieldSize="small" style="float: right;" id="cnpj" placeholder="cnpj para busca">
        </div> <br>
        <div class="col-md-4">
          <label for="tipo" class="label col-sm-3 col-form-label">Tipo da Empresa: </label>
          <input type="text" required nbInput fieldSize="small" style="float: right;" id="tipo" placeholder="tipo de empresa">
        </div> <br>
        <div class="col-md-4">
          <label for="nome" class="label col-sm-3 col-form-label">Nome da Empresa: </label>
          <input type="text" required nbInput fieldSize="small" style="float: right;" id="nome" placeholder="nome da empresa">
        </div> <br>
        <div class="col-md-4">
          <label for="contato" class="label col-sm-3 col-form-label">Contato: </label>
          <input type="text" required nbInput fieldSize="small" style="float: right;" id="contato" placeholder="contato">
        </div> <br>
        <div class="col-md-4">
          <label for="email" class="label col-sm-3 col-form-label">Email</label>
          <input type="email" required nbInput fieldSize="small" style="float: right;" id="email" placeholder="Email">
        </div> <br>
        <div class="col-md-4">
          <button nbButton hero status="success" size="small">Buscar CEP</button>&nbsp;&nbsp;
          <input type="text" required nbInput fieldSize="small" style="float: right;" id="cep" placeholder="digite o cep">
        </div> <br>
        <div class="col-md-4">
          <label for="estado" class="label col-sm-3 col-form-label">Estado: </label>
          <input type="text" required nbInput fieldSize="small" style="float: right;" id="estado" placeholder="Estado">
        </div> <br>
        <div class="col-md-4">
          <label for="bairro" class="label col-sm-3 col-form-label">Bairro: </label>
          <input type="text" required nbInput fieldSize="small" style="float: right;" id="bairro" placeholder="Bairro">
        </div> <br>
        <div class="col-md-4">
          <label for="cidade" class="label col-sm-3 col-form-label">Cidade: </label>
          <input type="text" required nbInput fieldSize="small" style="float: right;" id="cidade" placeholder="Cidade">
        </div> <br>
        <div class="col-md-4">
          <label for="cidade" class="label col-sm-3 col-form-label">Cidade: </label>
          <input type="text" required nbInput fieldSize="small" style="float: right;" id="cidade" placeholder="Cidade">
        </div> <br>
        <div class="col-md-4">
          <label for="logradouro" class="label col-sm-3 col-form-label">Logradouro: </label>
          <input type="text" required nbInput fieldSize="small" style="float: right;" id="logradouro" placeholder="Logradouro">
        </div> <br>
        <div class="col-md-4">
          <label for="complemento" class="label col-sm-3 col-form-label">Complemento: </label>
          <input type="text" nbInput fieldSize="small" style="float: right;" id="complemento" placeholder="Complemento">
        </div> <br>
      </div>
    </form>
  </nb-card-body>
  <nb-card-footer>
    <button nbButton hero status="danger" (click)="dismiss()">Cancelar</button>
    <button style="float: right;" type="submit" nbButton hero status="success">Enviar</button>
  </nb-card-footer>
</nb-card>
